# Import libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
df=pd.read_csv("my_movies.csv")
df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [5]:
df=pd.get_dummies(df)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

# Apriori Algorithm

In [6]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...
1393      0.1  (V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...
1394      0.1  (V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...
1395      0.1  (V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, V...
1396      0.1  (V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...

[1397 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(LOTR2),"(V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V2_LOTR1),"(V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(LOTR1),"(V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(Green Mile),"(V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(Harry Potter1),"(V1_Sixth Sense, V5_LOTR2, V3_Harry Potter1, S...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [9]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(LOTR2, LOTR1, V5_LOTR2, Green Mile)","(V3_Harry Potter1, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(LOTR2, V2_LOTR1, Harry Potter1)","(V4_Green Mile, LOTR1, V5_LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(LOTR2, LOTR1, V5_LOTR2)","(V4_Green Mile, V2_LOTR1, Sixth Sense, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(LOTR2, V5_LOTR2, Harry Potter1)","(V4_Green Mile, V2_LOTR1, LOTR1, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V2_LOTR1, LOTR1, V5_LOTR2)","(V4_Green Mile, Sixth Sense, Harry Potter1, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V2_LOTR1, V5_LOTR2, Harry Potter1)","(V4_Green Mile, LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(LOTR1, V5_LOTR2, Harry Potter1)","(V4_Green Mile, V2_LOTR1, Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(V4_Green Mile, Sixth Sense, LOTR2)","(V2_LOTR1, LOTR1, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V4_Green Mile, V2_LOTR1, Sixth Sense)","(LOTR2, LOTR1, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(V4_Green Mile, LOTR1, Sixth Sense)","(LOTR2, V2_LOTR1, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(V4_Green Mile, Sixth Sense, Harry Potter1)","(LOTR2, V2_LOTR1, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(LOTR2, V2_LOTR1, Sixth Sense)","(LOTR1, V5_LOTR2, V4_Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(LOTR2, LOTR1, Sixth Sense)","(V2_LOTR1, V5_LOTR2, V4_Green Mile, Harry Pott...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(LOTR2, Sixth Sense, Harry Potter1)","(V2_LOTR1, LOTR1, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(V2_LOTR1, LOTR1, Sixth Sense)","(LOTR2, V5_LOTR2, V4_Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V2_LOTR1, Sixth Sense, Harry Potter1)","(LOTR2, LOTR1, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(LOTR1, Sixth Sense, Harry Potter1)","(LOTR2, V2_LOTR1, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(LOTR2, V2_LOTR1, V4_Green Mile)","(LOTR1, V5_LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(LOTR2, LOTR1, V4_Green Mile)","(V2_LOTR1, V5_LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(LOTR2, V4_Green Mile, Harry Potter1)","(V2_LOTR1, LOTR1, V5_LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [10]:
rules[rules.lift>1].head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
107,(Patriot),(V3_Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
108,(LOTR2),(Green Mile),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
109,(Green Mile),(LOTR2),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
110,(V1_LOTR1),(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
111,(LOTR2),(V1_LOTR1),0.2,0.1,0.1,0.500000,5.000000,0.08,1.8